<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>齐鲁工业大学微信告白墙</title>
	<link rel="stylesheet" href="__PUBLIC__/Forlove/style.css">
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Forlove/forlove.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="__PUBLIC__/Forlove/snow-plugin.js"></script>
	<script>
	var URL = "__URL__";
    var APP = "__APP__";
	</script>
</head>
<body>
<div class="wrap">
<div class="main">
	<div class="header">
		<div class="tophead">
			<h1>齐鲁工业大学新媒体中心出品</h1>
		</div>
		<img src="__PUBLIC__/Forlove/logo.png" alt="告白墙" class="logo"><br>
		<a href="javascript:" class="butt">我要表白</a>
		<div class="nav">
			<ul>
				<li><a href="javascript:" id="ilink">首页</a></li>
				<li><a href="javascript:" id="slink">搜索</a></li>
				<li><a href="javascript:" id="alink">关于我们</a></li>
			</ul>
		</div>
	</div>
	<div class="search">
		<form action="" onsubmit="return false" class="sform">
			<input type="text" name="sinput" placeholder="请输入您要搜索姓名" class="his sin">
			<div class="sjiao">搜索</div>
		</form>
		</div>
	<volist name="list" id="vo">
		<div class="point">
		<div class="zzan">
			<a href="javascript:" class="jzan"><span id="{$vo.id}">{$vo.zan}</span><img src="__PUBLIC__/Forlove/zan.png" alt="" class="zan"></a>	
		</div>
			<div class="ptop">
				<img src="http://q.qlogo.cn/headimg_dl?dst_uin={$vo.avatar}&spec=100" alt="" class="avatar">
				<div class="pp">
				<span class="pname">{$vo.realname}</span><br><span class="ptime">{$vo.lastdate}</span>
				</div>
			</div>
			<div class="pmain">
				<p><span class="towho">{$vo.towho}</span>{$vo.content}</p>
			</div>
			<div class="pf">
				<ul id="reply-{$vo.id}" class="hidethis">
					<volist name="vo.reply" id="vo1">
						<li class='replys'><p><span class='replyname'>{$vo1.nname}</span>：{$vo1.reply}</p></li>
					</volist>
				</ul>
				<a href="javascript:" class="more">点击展开更多...</a>
				<script>
				$(function(){
					if($("#reply-{$vo.id}").height()>100){
								$("#reply-{$vo.id}").css({"height":"100px","overflow":"hidden"});
								$("#reply-{$vo.id}").next().show();
							}
				})
				</script>
				<form action="" method="post" onsubmit="return false">
					<div class="line">
						<input type="text" name="reply" placeholder="我也说两句" class="pliu">
						<div class="pjiao" id="{$vo.id}">提交</div>
					</div>
				</form>
			</div>
		</div>
	</volist>
	<div class="page">{$data}</div>
	<div class="footer">
	<p>版权所有 &copy; 齐鲁工业大学新媒体中心</p>
	<p>Prowered by Yelook.com</p>
	</div>
</div>
<div class="notic">测试测试</div>
<div class="hidemask2">
<div class="hideform">
	<form action="" id="reply2" onsubmit="return false">
		<p>请填写您的相关信息<span class="close">X</span></p>
		<input type="hidden" name="id" value="" id="hiid">
		<input type="hidden" name="reply" value="" id="hireply">
		<p><input type="text" name="email" id="email" placeholder="邮箱（必填）" class="his"></p>
		<p><input type="text" name="nname" id="realname" placeholder="昵称（必填）" class="his"></p>
		<p><input type="submit" value="提交" class="hisu"></p>
	</form>
</div>
</div>
<div class="hidemask">
<div class="hidegaobai">
	<form action="" onsubmit="return false" id="gaobai">
		<p>我要告白<span class="close">X</span></p>
		<p><input type="text" name="email" placeholder="邮箱（必填）" class="his" id="gemail" value="{$Think.session.email}"></p>
		<p><input type="text" name="qq" id="qq" placeholder="QQ（用于获取头像）" class="his" value="{$Think.session.qq}"></p>
		<p><input type="text" name="realname" placeholder="我的名称..." class="his" id="grealname" value="{$Think.session.nname}"></p>
		<p><input type="text" name="towho" placeholder="告白对象..." class="his" id="gtowho"></p>
		<p><textarea name="content" cols="30" rows="5" placeholder="这是我要说的话" class="his" id="gcontent"></textarea></p>
		<p><input type="submit" value="发布" class="hidegaobaisubmit"></p>
	</form>
</div>
</div>
<div class="load">
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>	
</div>
</div>
</body>
</html>