<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网站设置</title>
	<link rel="stylesheet" href="__PUBLIC__/Forlove/styleadmin.css">
	<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/we/css/wangEditor.min.css">
	<script type="text/javascript" src="__PUBLIC__/we/js/wangEditor.min.js"></script>
</head>
<body>
<div class="main">
<div class="header">
	<div class="tophead">
		<h1>齐鲁工业大学新媒体中心出品</h1>
	</div>
	<img src="__PUBLIC__/Forlove/logo.png" alt="告白墙" class="logo"><br>
	<a href="__URL__/admin" class="butt">返回首页</a>
	<a href="__URL__/siteconfig" class="butt">网站设置</a>
</div>